<h1><%= "#{@user.username}'s Profile" %></h1>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#user-drawings-tab" aria-controls="user-drawing-tab" role="tab" data-toggle="tab">Drawings</a></li>
    <li role="presentation"><a href="#user-likes-tab" aria-controls="user-likes-tab" role="tab" data-toggle="tab">Likes</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active gallery gallery-page" id="user-drawings-tab"><%= render 'drawings/drawings', object: @drawings %></div>    
    <div role="tabpanel" class="tab-pane" id="user-likes-tab">...</div>
  </div>

</div>

