.image-area
  .image-name
    %img{src: "/cover.jpg", id: 'champion-picture', alt: "Cover picture", class: 'image-container', width: '500px'}
    %h3#champion-name
    %p(style="display:none" id="champion-id")

  #timer-button
    = form_tag('/draw/champions', remote: true) do
      = submit_tag 'Start!', class: 'btn btn-success btn-lg', id: 'start-button'

  #draw-area
    %canvas#canvas-area{width: '500px', height: '295px'}
    #clr
      %div(style="background-color:black")
      %div(style="background-color:red")
      %div(style="background-color:green")
      %div(style="background-color:orange")
      %div(style="background-color:blue")
      %div(style="background-color:purple")
      %div(style="background-color:pink")
      %div(style="background-color:yellow")
      %div(style="background-color:gray")
      %div(style="background-color:brown")
      %div(style="background-color:white")

