h1, .front
  text-align: center

.reg-info
  margin: 0 auto
  margin-top: 20px
  text-align: center
  h4 ul li
    display: block

.front-links
  color: blue

.front-gallery
  width: 70%
  margin: 0 auto

.front-listing
  display: inline-block
  width: 30%