.image-name
  float: left
  margin-right: 20px

#timer-button
  float: left
  margin-left: 20px
  margin-right: 20px

#draw-area
  float: left
  margin-left: 20px

#champion-name
  text-align: center

.image-area
  display: block
  margin: 0 auto

canvas
  cursor: crosshair
  background-color: white
  float: left

#clr
  margin: 0 auto
  float: left

#clr div
  cursor: pointer
  cursor: hand
  width: 20px
  height: 30px
  border: black solid 1px

