.image-area .left-col
  display: inline-block
  vertical-align: top
  margin-right: 26px

.image-area .center-col
  display: inline-block
  vertical-align: top
  margin-left: 26px
  margin-right: 26px

.image-area .center-col .share-button
  margin-left: auto
  margin-right: auto
  margin-top: 50%

.image-area .right-col
  display: inline-block
  vertical-align: top
  margin-left: 26px

#timer-button
  margin-top: 10%

#picture-name
  text-align: center

#guess-form
  display: inline-block
  margin-left: 20px

.image-area
  text-align: center

canvas
  cursor: crosshair
  background-color: white
  float: left
  border-radius: 10px

#clr
  display: block

#clr div
  cursor: pointer
  cursor: hand
  width: 40px
  height: 40px
  border: black solid 1px
  border-radius: 50%
  display: inline-block
  margin-top: 10px

#start-button
  width: 130px

#symbol
  font-size: 51px 
  margin-top: 50%

#guess
  width: 200px

#guess-button
  width: 80px

#guess-form
  width: 500px
  text-align: left

.image-container
  border-radius: 10px

#show-drawing
  margin-left: 0
  margin-right: 0
  text-align: center

#show-drawing-name
  cursor: pointer

.caption .likes-group
  display: inline-block
  margin-right: 10%
  margin-top: 5px
  font-size: 130%
  color: white

.glyphicon-thumbs-up
  font-size: 130%
  color: white

.caption h5
  display: inline-block
  